<%- include("header") %>
<div id="instructionstitle">
    <h1> Welcome to the final task of Mars Rover Manipal Automation and Artificial Taskphase 2021!  </h1>
</div>


<div class="instructions">
    <h3>Instructions</h3>
   
    <p> Each case study is unique!<p1>
    <p>As soon as you click case, your timer will start. </p>
    <p>Submissions will be suspended exactly after 12 hours of starting of timer</p>

    
</div>
       


<div class="cards"">
       <div class="row">
        <div class="card"  >
            <div class="card-body">
               <h5 class="card-title"><%=caseStudy[0].title%></h5>
               <p class="card-text">Assigned to <%=caseStudy[0].name%></p>
               <form action="/mrmcasefinal14abht31yslalmno<%=caseStudy[0].id%>aian2dautomationmar563818sroverma222nipalfinaltas1k" method="POST">
                   <label>Enter your registeration number</label>
                   <input type="password" class="input" name="regno"  required autofocus>
                   <br>
                   <div class="col-sm-1">
                  

                   <button type="button submit link" style="width: 126px;   margin-left:auto; margin-right: auto; left:auto; right: auto" class="btn btn-secondary btn-lg">Case</button> 
               </div>
               </form>
           
            </div>
       </div>
      
    </div>

       <br>
       <div class="row">
        <div class="card"   >
         <div class="card-body">
             <h5 class="card-title"><%=caseStudy[1].title%></h5>
             <p class="card-text">Assigned to <%=caseStudy[1].name%></p>
             <form action="/mrmcasefinal14abht31yslalmno<%=caseStudy[1].id%>aian2dautomationmar563818sroverma222nipalfinaltas1k" method="POST">
                 <label>Enter your registeration number</label>
                 <input type="password" class="input" name="regno"  required autofocus>
                 <br>
                 <div class="col-sm-1">
                  

                    <button type="button submit link" style="width: 126px; margin-left:auto; margin-right: auto; left:auto; right: auto;" class="btn btn-secondary btn-lg">Case</button> 
                </div>
             </form>
        </div>
        
        </div>
        </div>
        <br>
            <div class="row">
            <div class="card"  >
             <div class="card-body">
                 <h5 class="card-title"><%=caseStudy[2].title%></h5>
                 <p class="card-text">Assigned to <%=caseStudy[2].name%></p>
                 <form action="/mrmcasefinal14abht31yslalmno<%=caseStudy[2].id%>aian2dautomationmar563818sroverma222nipalfinaltas1k" method="POST">
                     <label>Enter your registeration number</label>
                     <input type="password"  class="input" name="regno"  required autofocus>
                     <br>
                     <div class="col-sm-1">
                  

                        <button type="button submit link" style="width: 126px; margin-left:auto; margin-right: auto; left:auto; right: auto;" class="btn btn-secondary btn-lg">Case</button> 
                    </div>
                 </form>
    
            </div>
            
            </div>
            </div>
            <br>
            
            <div class="row">
            <div class="card"  >
             <div class="card-body">
                 <h5 class="card-title"><%=caseStudy[3].title%></h5>
                 <p class="card-text">Assigned to <%=caseStudy[3].name%></p>
                 <form action="/mrmcasefinal14abht31yslalmno<%=caseStudy[3].id%>aian2dautomationmar563818sroverma222nipalfinaltas1k" method="POST">
                     <label>Enter your registeration number</label>
                     <input type="password" class="input" name="regno"  required autofocus>
                     <br>
                     <div class="col-sm-1">
                  

                        <button type="button submit link" style="width: 126px; margin-left:auto; margin-right: auto; left:auto; right: auto;" class="btn btn-secondary btn-lg">Case</button> 
                    </div>
                 </form>
    
            </div>
            
            </div>
            </div>
            <br>
             
            <div class="row">
                <div class="card"  >
                 <div class="card-body">
                     <h5 class="card-title"><%=caseStudy[4].title%></h5>
                     <p class="card-text">Assigned to <%=caseStudy[4].name%></p>
                     <form action="/mrmcasefinal14abht31yslalmno<%=caseStudy[4].id%>aian2dautomationmar563818sroverma222nipalfinaltas1k" method="POST">
                         <label>Enter your registeration number</label>
                         <input type="password"  class="input" name="regno"  required autofocus>
                         <br>
                         <div class="col-sm-1">
                      
    
                            <button type="button submit link" style="width: 126px; margin-left:auto; margin-right: auto; left:auto; right: auto;" class="btn btn-secondary btn-lg">Case</button> 
                        </div>
                     </form>
        
                </div>
                
                </div>
                </div>
                <br>
                 
            <div class="row">
                <div class="card"  >
                 <div class="card-body">
                     <h5 class="card-title"><%=caseStudy[5].title%></h5>
                     <p class="card-text">Assigned to <%=caseStudy[5].name%></p>
                     <form action="/mrmcasefinal14abht31yslalmno<%=caseStudy[5].id%>aian2dautomationmar563818sroverma222nipalfinaltas1k" method="POST">
                         <label>Enter your registeration number</label>
                         <input type="password" class="input" name="regno"  required autofocus>
                         <br>
                         <div class="col-sm-1">
                      
    
                            <button type="button submit link" style="width: 126px; margin-left:auto; margin-right: auto; left:auto; right: auto;" class="btn btn-secondary btn-lg">Case</button> 
                        </div>
                     </form>
        
                </div>
                
                </div>
                </div>
                <br>


</div>

<%- include("footer") %>











    
